@inject NavigationManager NavigationManager

<div class="alert mt-4 alert-override" role="alert" @onclick="NavigateTo">
    <span><i class="fas fa-paperclip"></i></span>
    <span class="blog-link">@Title</span>
 </div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Href { get; set; }

    private void NavigateTo()
    {
      NavigationManager.NavigateTo(Href);
    }

}
